@font-face {
    font-family: "Drunk Condensed";
    src: url("../fonts/druk_condensed/DrukCond-Super.otf");
}

@font-face {
    font-family: "Euclid Flex Light";
    src: url("../fonts/euclid_flex_font/EuclidFlex-Light.otf");
}

@font-face {
    font-family: "Euclid Flex";
    src: url("../fonts/euclid_flex_font/EuclidFlex-Regular.otf");
}

@font-face {
    font-family: "Euclid Flex Medium";
    src: url("../fonts/euclid_flex_font/EuclidFlex-Medium.otf");
}

@font-face {
    font-family: "Euclid Flex Bold";
    src: url("../fonts/euclid_flex_font/EuclidFlex-Bold.otf");
}

// overwrite the bootstrap defaults 
$primary-red: #d81e0c;
$body-color:  #0b0b0b;
$theme-colors: (
  "primary": $primary-red,
);
$grays:(
    "100": #f7f7f7,
);

$container-max-widths: (
    xl: 1024px,
);
$border-radius: .2rem;
$border-radius-lg: .2rem;
$body-bg: #0b0b0b;
$bottom-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);

$drunk-condensed: "Drunk Condensed";
$euclid-light: "Euclid Flex Light";
$euclid-regular: "Euclid Flex";
$euclid-medium: "Euclid Flex Medium";
$euclid-bold: "Euclid Flex Bold";
$font-family-base: $euclid-regular, sans-serif;
$headings-font-family: $euclid-bold;

// Include bootstrap files
@import "../../node_modules/bootstrap/scss/bootstrap";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.left {
    position: absolute;
    left: -9999999px;
}

.wrapper {
    padding: 0;
}

.navbar {
    background-color: #fff; 
    li {
        a{text-transform: uppercase;}
    }

    .navbar-brand {
        margin-left: 1rem;
    }
}

main {
    background-color: $gray-100;
    padding-bottom: 60px;

    section {
        padding: 20px 0 0;
    }
}


.learn-mobile {
    display: none;
}

#mainMenu {
    .nav-item {
        margin: 0 10px;
        a.nav-link.book-btn {
            color: #fff;
            font-size: 0.875rem;
            width: 160px;
            height: 40px;
            padding: 10px;
        }
    
        a.nav-link {
            font-size: 0.875rem;
            color: #000;
        }
    }

    .learn-more {
        font-size: 1.5rem;
    }
}

.mega-entry {
    h3 {
        font-size: 1.1rem;
        font-family: $euclid-medium;
    }
    p {
        font-size: 0.875rem;
    }
}

.megaMenu {
    position: static;

    a#eventsDropdown,
    a#locationsDropdown {
        &:hover{
            color: $primary-red;
        }
    }

    &:not(.learn-desktop):hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        width: 100%;
        padding: 0 15px 90px;
        border: 0;
        margin-top: 0;
        padding-left: 30px;
        box-shadow: $bottom-shadow;

        .mega-links {
            display: flex;
            align-items: center;
            
            li {
                a {
                    text-transform: capitalize;
                    font-family: $euclid-bold;
                    font-size: 1.1rem;
                }
            }
        }

        .more-links {
            align-items: flex-start;
        }

        .mega-entry, .more-links {
            padding-top: 40px;
        }

        .mega-image {
            display: flex;
            justify-content: flex-end;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 1em;
            a, p {padding: 0;margin:0;}
            a {font-size: 1.25em;}
            p {font-size: 0.875em;}
        }
    }
}

.slider {
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    height: 380px;
    background-image: url(../images/banner_slider.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;

    .slider__contents {
        margin-left: 20px;
    
        h2{
            font-size: 6em;
            margin-top: 2.4rem;
            text-transform: uppercase;
            line-height: 80px;
            white-space: pre-line;
            font-family: $drunk-condensed;
    
            span {
                color: $primary-red;
            }
        }

        p {
            font-size: 1.05rem;
            margin-bottom: 2rem;
        }
    
        form {
            * {
                margin-right: 10px;
            }
        
            select {
                width: 180px;
                height: 40px;
                padding: 0 10px;
            }

            .custom-select {
                background: url("../images/banner_down_chevron.png") no-repeat right .75rem center;
                background-color: #fff;
            }
        
            button {
                width: 135px;
                height: 40px;
                text-transform: uppercase;
                font-family: $euclid-medium;
            }
        }
    }

    .slider__controls {
        width: 50%;
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: -webkit-box;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: flex-end;
        

        .slider__detail {
            width: 180px;
            height: 130px;
            background-color: #fff;
            padding: 20px;
            order: 2;

            h3 {
                font-size: 1rem;
                font-family: $euclid-bold;
            }

            p {
                font-size: 0.75rem;
            }
        }

        .controls {
            ul {
                display: inline-flex;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin-right: 15px;

                    &::before {
                        content: url("../images/unselected.png");
                        width: 10px;
                        height: 10px;
                    }

                    &.active::before{
                        content: url("../images/selected.png");
                    }

                    &.slide-control-pause::before{
                        content: url("../images/pause.png");
                    }
                }
            }

        }
    }

}

.section__title {
    text-align: center;
    margin: 2em 1em;
    
    h2, h3{
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    span{
        font-size: 0.875em;
    }
}

#events {
    .image__container {
        position: relative;
        
        img {
            width: 100%;
        }

        .image__overlay {
            color: #fff;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            padding: 0 20px 20px;
            background-color: rgba(0,0,0,0.5);
    
            h3 {
                font-size: 1.5em;
            }
    
            p {
                font-size: 0.875em;
                width: 80%;
            }
    
            a.event-btn {
                width: 140px;
                height: 40px;
                color: #fff;
                text-transform: uppercase;
                text-align: left;
                font-size: .875em;
                border: 2px solid #fff;
                padding: 10px;
                position: relative;
    
                &:hover{
                    background-color: $primary-red;
                    border-color: $primary-red;
                    text-decoration: none;
                }
    
                &::after{
                    content: url("../images/right_chevron.png");
                    height: 11px;
                    width: 8px;
                    margin: 0 3px;
                    position: absolute;
                    right: 5px;
                }
            }
        }
    }
}


#locations {
    .loc-entry {
        display: flex;
    }

    .image__container{
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .image__overlay {
            width: 50%;
            position: absolute;
            color: #fff;
            background-color: black;
            height: auto;
            padding: 10px 20px;

            p {
                margin-bottom: 0.625em;
            }

            h3 {
                font-size: 1.5em;
            }

            &:hover {
                left: 20px;
                color: $primary-red;

                & p::after {
                    content: url("../images/red_chevron.png");
                    padding-left: 10px;
                    vertical-align: middle;
                }
            }
        }
    }
}

#blogs {
    .section__title {
        margin-bottom: 0.6875rem;

        a {
            color: #000;
            text-decoration: underline;
        }
    }

    .blog__container {
        position: relative;

        .blog__thumbnail {
            img {
                width: 100%;
            }
        }

        .blog__description {
            padding: 20px;
            background-color: #fff;
            h3 {
                font-size: 1rem;
                font-family: $euclid-medium;
            }

            p {
                font-size: .875rem;
                margin-bottom: .625rem;
            }
        }

        .blog__overlay {
            position: absolute;
            top: 0;
            left: -9999999px;
            height: 100%;
            background-color: #aa0100;
            color: #fff;
            padding: 20px 40px 20px 20px;
            display: flex;
            flex-flow: column;
            justify-content: flex-start;

            .overlay__description {
                p{
                    font-family: $euclid-light;
                    font-size: 0.9375rem;
                }

                .overlay__title {
                    p {
                        font-size: 0.875rem;
                        margin-bottom: 0.625rem;
                        font-family: $euclid-light;
                    }
    
                    h4 {
                        font-size: 1rem;
                        font-family: $euclid-regular;
                    }
                }
            }

            .overlay__footer{
                position: absolute;
                bottom: 20px;

                a{
                    font-family: $euclid-light;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    color: #fff; 
                    &:hover {
                        color: #fff; 
                        text-decoration: none;
                    }
                }
            }

        }

        &:hover .blog__overlay {
            left: 0;
        }
    }
}

#testimonials {
    .testimonial-entry {
        .client__testimonial {
            background-color: #fff;
            padding: 15px 10px 10px;

            .testimonial {
                padding: 0px 20px;
            }

            .client__name {
                text-align: center;
                font-family: $euclid-medium;
            }

            &::before {
                content: url("../images/testimonials.png");
            }
 
        }

        &:nth-of-type(1) .client__testimonial{
            border-bottom: 2px solid #f9b700;
        }
        
        &:nth-of-type(2) .client__testimonial{
            border-bottom: 2px solid #51ccd4;
        }
        
        &:nth-of-type(3) .client__testimonial{
            border-bottom: 2px solid #2e85d7;
        }
    }

    aside {
        .section__title {
            margin-bottom: 1rem;

            h3{
                font-size: 1.1rem;
                font-family: $euclid-medium;
            }
        }
    }
}

footer {
    .footer-widgets {
        height: 230px;
        padding: 40px 0;
        background-color: #000;
        // can't replicate the gradient on the design
        //background: repeating-linear-gradient(-55deg,#000 656px,#000 645px,#1a1a1a 200px,#1a1a1a 786px,#000 230px, #000);
    
        .footer-logo {
            img {
                padding: 10px;
            }
        }
    }

    h2 {
        font-size: 0.75rem;
        text-transform: uppercase;
        color: $primary-red;
        font-family: $euclid-medium;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px
        }

        a {
            color: #fff;
            font-size: 0.9875rem;
        }
    }

    #social-media {
        display: inline-flex;

        li {
            margin-right: 10px;
        }
    }

    .copyright {
        background-color: #0b0b0b;
        color: #909090;
        font-size: 0.875rem;
        font-family: $euclid-light;
        border-top: 1px solid #282828;
        padding-top: 5px;
        padding-bottom: 5px; 

        .darker {
            color:#76787d;
        }

        ul {
            display: inline-flex;
            list-style: none;
            margin-bottom: 0;
            margin-left: 10px;
            li {
                margin: 0 20px;

                a {
                    color: #909090;
                    font-size: 0.875rem;
                }
            }
        }
    }
}

#bookVenue {
    .modal-header,
    .modal-footer {
        border: none;
    }

    button.close {
        font-size: 1.5em;
        font-weight: 400;
    }

    .modal-header {
        padding-bottom: 0;
        h5 {
            font-size: 1.8rem;
        }
    }    

    .modal-footer {
        button {
            border: 1px solid $primary-red;
            font-family: $euclid-medium;
            margin: 0 auto;
            padding: 10px;
            width: 140px;
            font-size: 0.875rem; 
            text-transform: uppercase;
        }
    }

    .modal-content {
        padding: 20px;
        border-radius: 0;
        max-width: 660px;
        margin: 0 auto;

        .section__title {
            margin: 20px 0 0;
            text-align: left;
            border-bottom: 2px solid #d8d8d8;
            
            h6 {
                font-size: 0.875rem;      
                text-transform: uppercase;
            }
        }
    }

    .row {
        .col {
            margin: 10px auto;

            .form-control-lg {
                font-size: 1rem;
            }
        }
        .query {
            margin: 10px auto 0;
        }
        .qmsg {
            margin: 0 auto;
        }
    }
}

.queryRB {
    width: 100%;

    .query__btn {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;

        &.active {
            background-color: $primary-red;
        }
    }
}

@media screen and (max-width: 991px) {
    .learn-mobile {
        display: block;
    }

    .learn-desktop {
        display: none;
    }

    .megaMenu {
        .dropdown-menu {
            padding-bottom: 0px; 
            .mega-image {
                display: none;
            }

            .more-links {
                padding-top: 0px;
            }

            .mega-links {
                li {
                    a {
                        font-size: 0.875em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .slider {
        .slider__contents {
            background: rgba(255,255,255,.6);
            padding: 20px;
            border-radius: $border-radius;
        }
        .slider__detail {
            display: none;
        }

        .slider__controls {
            right: 0px;
            bottom: 10px;
        }
    }

    img {
        width: 100%;
    }

    .event-entry,
    .loc-entry,
    .blog-entry,
    .testimonial-entry {
        margin-bottom: 20px;
    }

    footer {
        .footer-widgets {
            height: auto;
    
            img {
                width: auto;
                padding: 5px;
                margin-bottom: 10px;
            }
        }
    
    }

}

@media screen and (max-width: 640px) {
    .slider {
        background-position: left;
        background-size: cover;
        .slider__controls {
            display: none;
        }
    }

    #locations {
        .image__container {
            .image__overlay {
                &:hover {
                    left: 5px;
                }
            }
        }
    }

    footer {
        text-align: center;

        .copyright {
            ul {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 575px) {

    .slider {
        height: auto;
        padding: 20px;

        .slider__contents {
            margin: 0;
        }
    }

    #sliderForm {
        flex-flow: column;

        button,
        select {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    #locations {
        .image__container {
            .image__overlay {
                width: 30%;

                &:hover {
                    left: 20%;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #locations {
        .image__container {
            .image__overlay {
                width: 45%;

                &:hover {
                    left: 15%;
                }
            }
        }
    }

    #bookVenue .row .col {
        flex: 1 100%;
    }

    .queryRB {
        display: flex;
        flex-flow: column;
    }
}


@media screen and (max-width: 320px) {
    #locations {
        .image__container {
            .image__overlay {
                width: 50%;

                &:hover {
                    left: 5px;
                }
            }
        }
    }
}